<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Boutique.Properties.Settings.ReportProds" connectionString="Data Source=DELL-PC\MSSQLEXPRESS;Initial Catalog=boutique_bd;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
        
    </startup>
</configuration>
